# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info
*.egg
dist
build
.eggs

# Virtual environments
venv
.venv
env

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
.pytest_cache
.coverage
htmlcov
.tox
.nox

# Docs
docs/_build

# Other
*.log
.DS_Store
Thumbs.db

# Dev files
tests
**/tests
conftest.py
CHANGELOG.md
README.md
